<?xml version="1.0"?>
<block>
    <name>Symbol Mapper</name>
    <key>gr_gs_SymbolMapper</key>
    <category>[gr-gs]/Miscellaneous</category>
    <import>import gr_gs as gs</import>
    <make>gs.SymbolMapper_$(symbolType.fcn)($constellation)</make>
	<param>
		<name>Symbol Type</name>
		<key>symbolType</key>
		<type>enum</type>
		<option>
			<name>Byte</name>
			<key>byte</key>
			<opt>fcn:bc</opt>
		</option>
		<option>
			<name>Short</name>
			<key>short</key>
			<opt>fcn:sc</opt>
		</option>
		<option>
			<name>Int</name>
			<key>int</key>
			<opt>fcn:ic</opt>
		</option>
	</param>
    <param>
        <name>Constellation</name>
        <key>constellation</key>
        <value>[1,1j,-1j,-1]</value>
        <type>complex_vector</type>
    </param>
    <sink>
        <name>in</name>
        <type>$symbolType</type>
    </sink>
    <source>
        <name>out</name>
        <type>complex</type>
    </source>
    <doc>This block generates a sequence of constellation points from a sequence of digital symbols.</doc>
</block>
